--
-- PostgreSQL database dump
--

\restrict Lg7Je6UkeSgM77MlGw9nJD7B7kv9hV8AkDywtpBr6OzMJDk9RxiYmUFV0K7nccC

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Appointments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Appointments" (
    "Id" text NOT NULL,
    "PatientId" text NOT NULL,
    "ProfessionalId" text NOT NULL,
    "SpecialtyId" text NOT NULL,
    "Date" text NOT NULL,
    "Time" text NOT NULL,
    "EndTime" text,
    "Type" integer NOT NULL,
    "Status" integer NOT NULL,
    "Observation" text,
    "MeetLink" text,
    "PreConsultationJson" text,
    "BiometricsJson" text,
    "AttachmentsChatJson" text,
    "AnamnesisJson" text,
    "SoapJson" text,
    "SpecialtyFieldsJson" text,
    "AISummary" text,
    "AISummaryGeneratedAt" text,
    "AIDiagnosticHypothesis" text,
    "AIDiagnosisGeneratedAt" text,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL,
    "AssistantId" text,
    "CheckInTime" text,
    "ConsultationStartedAt" text,
    "DoctorJoinedAt" text,
    "ConsultationEndedAt" text,
    "DurationInMinutes" integer,
    "NotificationsSentCount" integer DEFAULT 0 NOT NULL,
    "LastNotificationSentAt" text
);


ALTER TABLE public."Appointments" OWNER TO postgres;

--
-- Name: Attachments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Attachments" (
    "Id" text NOT NULL,
    "AppointmentId" text NOT NULL,
    "Title" text NOT NULL,
    "FileName" text NOT NULL,
    "FilePath" text NOT NULL,
    "FileType" text NOT NULL,
    "FileSize" integer NOT NULL,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL
);


ALTER TABLE public."Attachments" OWNER TO postgres;

--
-- Name: AuditLogs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuditLogs" (
    "Id" text NOT NULL,
    "UserId" text,
    "Action" text NOT NULL,
    "EntityType" text NOT NULL,
    "EntityId" text NOT NULL,
    "OldValues" text,
    "NewValues" text,
    "IpAddress" text,
    "UserAgent" text,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL,
    "AccessReason" text,
    "DataCategory" text,
    "PatientCpf" text,
    "PatientId" text
);


ALTER TABLE public."AuditLogs" OWNER TO postgres;

--
-- Name: CboOccupations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CboOccupations" (
    "Id" text NOT NULL,
    "Code" text NOT NULL,
    "Name" text NOT NULL,
    "Family" text,
    "Subgroup" text,
    "AllowsTeleconsultation" integer NOT NULL,
    "IsActive" integer NOT NULL,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL
);


ALTER TABLE public."CboOccupations" OWNER TO postgres;

--
-- Name: DigitalCertificates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DigitalCertificates" (
    "Id" text NOT NULL,
    "UserId" text NOT NULL,
    "DisplayName" text NOT NULL,
    "Subject" text NOT NULL,
    "Issuer" text NOT NULL,
    "Thumbprint" text NOT NULL,
    "CpfFromCertificate" text,
    "NameFromCertificate" text,
    "ExpirationDate" text NOT NULL,
    "IssuedDate" text NOT NULL,
    "EncryptedPfxBase64" text NOT NULL,
    "QuickUseEnabled" integer NOT NULL,
    "EncryptedPassword" text,
    "EncryptionIV" text NOT NULL,
    "IsActive" integer NOT NULL,
    "LastUsedAt" text,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL
);


ALTER TABLE public."DigitalCertificates" OWNER TO postgres;

--
-- Name: ExamRequests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ExamRequests" (
    "Id" text NOT NULL,
    "AppointmentId" text NOT NULL,
    "ProfessionalId" text NOT NULL,
    "PatientId" text NOT NULL,
    "NomeExame" text NOT NULL,
    "CodigoExame" text,
    "Categoria" integer NOT NULL,
    "Prioridade" integer NOT NULL,
    "DataEmissao" text NOT NULL,
    "DataLimite" text,
    "IndicacaoClinica" text NOT NULL,
    "HipoteseDiagnostica" text,
    "Cid" text,
    "Observacoes" text,
    "InstrucoesPreparo" text,
    "DigitalSignature" text,
    "CertificateThumbprint" text,
    "CertificateSubject" text,
    "SignedAt" text,
    "DocumentHash" text,
    "SignedPdfBase64" text,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL
);


ALTER TABLE public."ExamRequests" OWNER TO postgres;

--
-- Name: Invites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Invites" (
    "Id" text NOT NULL,
    "Email" text,
    "Role" integer NOT NULL,
    "SpecialtyId" text,
    "Token" text NOT NULL,
    "Status" integer NOT NULL,
    "ExpiresAt" text NOT NULL,
    "CreatedBy" text NOT NULL,
    "CreatedAt" text NOT NULL,
    "AcceptedAt" text,
    "PrefilledName" text,
    "PrefilledLastName" text,
    "PrefilledCpf" text,
    "PrefilledPhone" text
);


ALTER TABLE public."Invites" OWNER TO postgres;

--
-- Name: MedicalCertificates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MedicalCertificates" (
    "Id" text NOT NULL,
    "AppointmentId" text NOT NULL,
    "ProfessionalId" text NOT NULL,
    "PatientId" text NOT NULL,
    "Tipo" integer NOT NULL,
    "DataEmissao" text NOT NULL,
    "DataInicio" text,
    "DataFim" text,
    "DiasAfastamento" integer,
    "Cid" text,
    "Conteudo" text NOT NULL,
    "Observacoes" text,
    "DigitalSignature" text,
    "CertificateThumbprint" text,
    "CertificateSubject" text,
    "SignedAt" text,
    "DocumentHash" text,
    "SignedPdfBase64" text,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL
);


ALTER TABLE public."MedicalCertificates" OWNER TO postgres;

--
-- Name: MedicalReports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MedicalReports" (
    "Id" text NOT NULL,
    "AppointmentId" text NOT NULL,
    "ProfessionalId" text NOT NULL,
    "PatientId" text NOT NULL,
    "Tipo" integer NOT NULL,
    "Titulo" text NOT NULL,
    "DataEmissao" text NOT NULL,
    "HistoricoClinico" text,
    "ExameFisico" text,
    "ExamesComplementares" text,
    "HipoteseDiagnostica" text,
    "Cid" text,
    "Conclusao" text NOT NULL,
    "Recomendacoes" text,
    "Observacoes" text,
    "DigitalSignature" text,
    "CertificateThumbprint" text,
    "CertificateSubject" text,
    "SignedAt" text,
    "DocumentHash" text,
    "SignedPdfBase64" text,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL
);


ALTER TABLE public."MedicalReports" OWNER TO postgres;

--
-- Name: Notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Notifications" (
    "Id" text NOT NULL,
    "UserId" text NOT NULL,
    "Title" text NOT NULL,
    "Message" text NOT NULL,
    "Type" text NOT NULL,
    "IsRead" integer NOT NULL,
    "Link" text,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL
);


ALTER TABLE public."Notifications" OWNER TO postgres;

--
-- Name: PatientProfiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PatientProfiles" (
    "Id" text NOT NULL,
    "UserId" text NOT NULL,
    "Cns" text,
    "SocialName" text,
    "Gender" text,
    "BirthDate" text,
    "MotherName" text,
    "FatherName" text,
    "Nationality" text,
    "ZipCode" text,
    "Address" text,
    "City" text,
    "State" text,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL
);


ALTER TABLE public."PatientProfiles" OWNER TO postgres;

--
-- Name: Prescriptions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Prescriptions" (
    "Id" text NOT NULL,
    "AppointmentId" text NOT NULL,
    "ProfessionalId" text NOT NULL,
    "PatientId" text NOT NULL,
    "ItemsJson" text NOT NULL,
    "DigitalSignature" text,
    "CertificateThumbprint" text,
    "CertificateSubject" text,
    "SignedAt" text,
    "DocumentHash" text,
    "SignedPdfBase64" text,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL
);


ALTER TABLE public."Prescriptions" OWNER TO postgres;

--
-- Name: ProfessionalCouncils; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProfessionalCouncils" (
    "Id" text NOT NULL,
    "Acronym" text NOT NULL,
    "Name" text NOT NULL,
    "Category" text NOT NULL,
    "IsActive" integer NOT NULL,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL
);


ALTER TABLE public."ProfessionalCouncils" OWNER TO postgres;

--
-- Name: ProfessionalProfiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProfessionalProfiles" (
    "Id" text NOT NULL,
    "UserId" text NOT NULL,
    "Crm" text,
    "Cbo" text,
    "SpecialtyId" text,
    "Gender" text,
    "BirthDate" text,
    "Nationality" text,
    "ZipCode" text,
    "Address" text,
    "City" text,
    "State" text,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL,
    "CboOccupationId" text,
    "CouncilId" text,
    "CouncilRegistration" text,
    "CouncilState" text
);


ALTER TABLE public."ProfessionalProfiles" OWNER TO postgres;

--
-- Name: ScheduleBlocks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ScheduleBlocks" (
    "Id" text NOT NULL,
    "ProfessionalId" text NOT NULL,
    "Type" integer NOT NULL,
    "Date" text,
    "StartDate" text,
    "EndDate" text,
    "Reason" text NOT NULL,
    "Status" integer NOT NULL,
    "ApprovedBy" text,
    "ApprovedAt" text,
    "RejectionReason" text,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL
);


ALTER TABLE public."ScheduleBlocks" OWNER TO postgres;

--
-- Name: Schedules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Schedules" (
    "Id" text NOT NULL,
    "ProfessionalId" text NOT NULL,
    "GlobalConfigJson" text NOT NULL,
    "DaysConfigJson" text NOT NULL,
    "ValidityStartDate" text NOT NULL,
    "ValidityEndDate" text,
    "IsActive" integer NOT NULL,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL
);


ALTER TABLE public."Schedules" OWNER TO postgres;

--
-- Name: SigtapProcedures; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SigtapProcedures" (
    "Id" text NOT NULL,
    "Code" text NOT NULL,
    "Name" text NOT NULL,
    "Description" text,
    "Complexity" integer NOT NULL,
    "GroupCode" text,
    "GroupName" text,
    "SubgroupCode" text,
    "SubgroupName" text,
    "AuthorizedCbosJson" text,
    "Value" text,
    "AllowsTelemedicine" integer NOT NULL,
    "IsActive" integer NOT NULL,
    "StartCompetency" text,
    "EndCompetency" text,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL
);


ALTER TABLE public."SigtapProcedures" OWNER TO postgres;

--
-- Name: Specialties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Specialties" (
    "Id" text NOT NULL,
    "Name" text NOT NULL,
    "Description" text NOT NULL,
    "Status" integer NOT NULL,
    "CustomFieldsJson" text,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL
);


ALTER TABLE public."Specialties" OWNER TO postgres;

--
-- Name: Users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Users" (
    "Id" text NOT NULL,
    "Email" text NOT NULL,
    "PasswordHash" text NOT NULL,
    "Name" text NOT NULL,
    "LastName" text NOT NULL,
    "Cpf" text NOT NULL,
    "Phone" text,
    "Avatar" text,
    "Role" integer NOT NULL,
    "Status" integer NOT NULL,
    "EmailVerified" integer NOT NULL,
    "EmailVerificationToken" text,
    "EmailVerificationTokenExpiry" text,
    "PendingEmail" text,
    "PendingEmailToken" text,
    "PendingEmailTokenExpiry" text,
    "PasswordResetToken" text,
    "PasswordResetTokenExpiry" text,
    "RefreshToken" text,
    "RefreshTokenExpiry" text,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL
);


ALTER TABLE public."Users" OWNER TO postgres;

--
-- Name: WaitingLists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WaitingLists" (
    "Id" text NOT NULL,
    "AppointmentId" text NOT NULL,
    "PatientId" text NOT NULL,
    "ProfessionalId" text NOT NULL,
    "UnityId" text,
    "Position" integer NOT NULL,
    "Priority" integer DEFAULT 0 NOT NULL,
    "CheckInTime" text,
    "CalledTime" text,
    "CallAttempts" integer DEFAULT 0 NOT NULL,
    "Status" integer DEFAULT 0 NOT NULL,
    "CreatedAt" text NOT NULL,
    "UpdatedAt" text NOT NULL,
    "IsSpontaneousDemand" integer DEFAULT 0 NOT NULL,
    "UrgencyLevel" integer DEFAULT 0,
    "ChiefComplaint" text
);


ALTER TABLE public."WaitingLists" OWNER TO postgres;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Data for Name: Appointments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Attachments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Attachments" ("Id", "AppointmentId", "Title", "FileName", "FilePath", "FileType", "FileSize", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: AuditLogs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: CboOccupations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: DigitalCertificates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DigitalCertificates" ("Id", "UserId", "DisplayName", "Subject", "Issuer", "Thumbprint", "CpfFromCertificate", "NameFromCertificate", "ExpirationDate", "IssuedDate", "EncryptedPfxBase64", "QuickUseEnabled", "EncryptedPassword", "EncryptionIV", "IsActive", "LastUsedAt", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: ExamRequests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ExamRequests" ("Id", "AppointmentId", "ProfessionalId", "PatientId", "NomeExame", "CodigoExame", "Categoria", "Prioridade", "DataEmissao", "DataLimite", "IndicacaoClinica", "HipoteseDiagnostica", "Cid", "Observacoes", "InstrucoesPreparo", "DigitalSignature", "CertificateThumbprint", "CertificateSubject", "SignedAt", "DocumentHash", "SignedPdfBase64", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: Invites; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Invites" ("Id", "Email", "Role", "SpecialtyId", "Token", "Status", "ExpiresAt", "CreatedBy", "CreatedAt", "AcceptedAt", "PrefilledName", "PrefilledLastName", "PrefilledCpf", "PrefilledPhone") FROM stdin;
\.


--
-- Data for Name: MedicalCertificates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MedicalCertificates" ("Id", "AppointmentId", "ProfessionalId", "PatientId", "Tipo", "DataEmissao", "DataInicio", "DataFim", "DiasAfastamento", "Cid", "Conteudo", "Observacoes", "DigitalSignature", "CertificateThumbprint", "CertificateSubject", "SignedAt", "DocumentHash", "SignedPdfBase64", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: MedicalReports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MedicalReports" ("Id", "AppointmentId", "ProfessionalId", "PatientId", "Tipo", "Titulo", "DataEmissao", "HistoricoClinico", "ExameFisico", "ExamesComplementares", "HipoteseDiagnostica", "Cid", "Conclusao", "Recomendacoes", "Observacoes", "DigitalSignature", "CertificateThumbprint", "CertificateSubject", "SignedAt", "DocumentHash", "SignedPdfBase64", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: Notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PatientProfiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Prescriptions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Prescriptions" ("Id", "AppointmentId", "ProfessionalId", "PatientId", "ItemsJson", "DigitalSignature", "CertificateThumbprint", "CertificateSubject", "SignedAt", "DocumentHash", "SignedPdfBase64", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: ProfessionalCouncils; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ProfessionalProfiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ScheduleBlocks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ScheduleBlocks" ("Id", "ProfessionalId", "Type", "Date", "StartDate", "EndDate", "Reason", "Status", "ApprovedBy", "ApprovedAt", "RejectionReason", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: Schedules; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SigtapProcedures; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Specialties; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: WaitingLists; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."WaitingLists" ("Id", "AppointmentId", "PatientId", "ProfessionalId", "UnityId", "Position", "Priority", "CheckInTime", "CalledTime", "CallAttempts", "Status", "CreatedAt", "UpdatedAt", "IsSpontaneousDemand", "UrgencyLevel", "ChiefComplaint") FROM stdin;
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20260102213207_InitialCreate	9.0.0
20260114115742_AddProfessionalCouncilsAndAuditFields	9.0.0
20260201000000_AddReceptionistAndWaitingList	9.0.0
20260202000000_AddSpontaneousDemandFields	9.0.0
\.


--
-- Name: Appointments PK_Appointments; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Appointments"
    ADD CONSTRAINT "PK_Appointments" PRIMARY KEY ("Id");


--
-- Name: Attachments PK_Attachments; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attachments"
    ADD CONSTRAINT "PK_Attachments" PRIMARY KEY ("Id");


--
-- Name: AuditLogs PK_AuditLogs; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLogs"
    ADD CONSTRAINT "PK_AuditLogs" PRIMARY KEY ("Id");


--
-- Name: CboOccupations PK_CboOccupations; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CboOccupations"
    ADD CONSTRAINT "PK_CboOccupations" PRIMARY KEY ("Id");


--
-- Name: DigitalCertificates PK_DigitalCertificates; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DigitalCertificates"
    ADD CONSTRAINT "PK_DigitalCertificates" PRIMARY KEY ("Id");


--
-- Name: ExamRequests PK_ExamRequests; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamRequests"
    ADD CONSTRAINT "PK_ExamRequests" PRIMARY KEY ("Id");


--
-- Name: Invites PK_Invites; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Invites"
    ADD CONSTRAINT "PK_Invites" PRIMARY KEY ("Id");


--
-- Name: MedicalCertificates PK_MedicalCertificates; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MedicalCertificates"
    ADD CONSTRAINT "PK_MedicalCertificates" PRIMARY KEY ("Id");


--
-- Name: MedicalReports PK_MedicalReports; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MedicalReports"
    ADD CONSTRAINT "PK_MedicalReports" PRIMARY KEY ("Id");


--
-- Name: Notifications PK_Notifications; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notifications"
    ADD CONSTRAINT "PK_Notifications" PRIMARY KEY ("Id");


--
-- Name: PatientProfiles PK_PatientProfiles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PatientProfiles"
    ADD CONSTRAINT "PK_PatientProfiles" PRIMARY KEY ("Id");


--
-- Name: Prescriptions PK_Prescriptions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Prescriptions"
    ADD CONSTRAINT "PK_Prescriptions" PRIMARY KEY ("Id");


--
-- Name: ProfessionalCouncils PK_ProfessionalCouncils; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProfessionalCouncils"
    ADD CONSTRAINT "PK_ProfessionalCouncils" PRIMARY KEY ("Id");


--
-- Name: ProfessionalProfiles PK_ProfessionalProfiles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProfessionalProfiles"
    ADD CONSTRAINT "PK_ProfessionalProfiles" PRIMARY KEY ("Id");


--
-- Name: ScheduleBlocks PK_ScheduleBlocks; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ScheduleBlocks"
    ADD CONSTRAINT "PK_ScheduleBlocks" PRIMARY KEY ("Id");


--
-- Name: Schedules PK_Schedules; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Schedules"
    ADD CONSTRAINT "PK_Schedules" PRIMARY KEY ("Id");


--
-- Name: SigtapProcedures PK_SigtapProcedures; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SigtapProcedures"
    ADD CONSTRAINT "PK_SigtapProcedures" PRIMARY KEY ("Id");


--
-- Name: Specialties PK_Specialties; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Specialties"
    ADD CONSTRAINT "PK_Specialties" PRIMARY KEY ("Id");


--
-- Name: Users PK_Users; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "PK_Users" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: WaitingLists WaitingLists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WaitingLists"
    ADD CONSTRAINT "WaitingLists_pkey" PRIMARY KEY ("Id");


--
-- Name: IX_Appointments_AssistantId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Appointments_AssistantId" ON public."Appointments" USING btree ("AssistantId");


--
-- Name: IX_Appointments_PatientId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Appointments_PatientId" ON public."Appointments" USING btree ("PatientId");


--
-- Name: IX_Appointments_ProfessionalId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Appointments_ProfessionalId" ON public."Appointments" USING btree ("ProfessionalId");


--
-- Name: IX_Appointments_SpecialtyId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Appointments_SpecialtyId" ON public."Appointments" USING btree ("SpecialtyId");


--
-- Name: IX_Attachments_AppointmentId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Attachments_AppointmentId" ON public."Attachments" USING btree ("AppointmentId");


--
-- Name: IX_AuditLogs_Action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AuditLogs_Action" ON public."AuditLogs" USING btree ("Action");


--
-- Name: IX_AuditLogs_CreatedAt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AuditLogs_CreatedAt" ON public."AuditLogs" USING btree ("CreatedAt");


--
-- Name: IX_AuditLogs_PatientCpf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AuditLogs_PatientCpf" ON public."AuditLogs" USING btree ("PatientCpf");


--
-- Name: IX_AuditLogs_PatientId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AuditLogs_PatientId" ON public."AuditLogs" USING btree ("PatientId");


--
-- Name: IX_AuditLogs_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AuditLogs_UserId" ON public."AuditLogs" USING btree ("UserId");


--
-- Name: IX_CboOccupations_Code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_CboOccupations_Code" ON public."CboOccupations" USING btree ("Code");


--
-- Name: IX_DigitalCertificates_Thumbprint; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_DigitalCertificates_Thumbprint" ON public."DigitalCertificates" USING btree ("Thumbprint");


--
-- Name: IX_DigitalCertificates_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_DigitalCertificates_UserId" ON public."DigitalCertificates" USING btree ("UserId");


--
-- Name: IX_ExamRequests_AppointmentId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ExamRequests_AppointmentId" ON public."ExamRequests" USING btree ("AppointmentId");


--
-- Name: IX_ExamRequests_DocumentHash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ExamRequests_DocumentHash" ON public."ExamRequests" USING btree ("DocumentHash");


--
-- Name: IX_ExamRequests_PatientId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ExamRequests_PatientId" ON public."ExamRequests" USING btree ("PatientId");


--
-- Name: IX_ExamRequests_ProfessionalId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ExamRequests_ProfessionalId" ON public."ExamRequests" USING btree ("ProfessionalId");


--
-- Name: IX_Invites_CreatedBy; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Invites_CreatedBy" ON public."Invites" USING btree ("CreatedBy");


--
-- Name: IX_Invites_Email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Invites_Email" ON public."Invites" USING btree ("Email");


--
-- Name: IX_Invites_Token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Invites_Token" ON public."Invites" USING btree ("Token");


--
-- Name: IX_MedicalCertificates_AppointmentId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_MedicalCertificates_AppointmentId" ON public."MedicalCertificates" USING btree ("AppointmentId");


--
-- Name: IX_MedicalCertificates_DocumentHash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_MedicalCertificates_DocumentHash" ON public."MedicalCertificates" USING btree ("DocumentHash");


--
-- Name: IX_MedicalCertificates_PatientId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_MedicalCertificates_PatientId" ON public."MedicalCertificates" USING btree ("PatientId");


--
-- Name: IX_MedicalCertificates_ProfessionalId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_MedicalCertificates_ProfessionalId" ON public."MedicalCertificates" USING btree ("ProfessionalId");


--
-- Name: IX_MedicalReports_AppointmentId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_MedicalReports_AppointmentId" ON public."MedicalReports" USING btree ("AppointmentId");


--
-- Name: IX_MedicalReports_DocumentHash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_MedicalReports_DocumentHash" ON public."MedicalReports" USING btree ("DocumentHash");


--
-- Name: IX_MedicalReports_PatientId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_MedicalReports_PatientId" ON public."MedicalReports" USING btree ("PatientId");


--
-- Name: IX_MedicalReports_ProfessionalId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_MedicalReports_ProfessionalId" ON public."MedicalReports" USING btree ("ProfessionalId");


--
-- Name: IX_Notifications_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Notifications_UserId" ON public."Notifications" USING btree ("UserId");


--
-- Name: IX_PatientProfiles_Cns; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_PatientProfiles_Cns" ON public."PatientProfiles" USING btree ("Cns");


--
-- Name: IX_PatientProfiles_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_PatientProfiles_UserId" ON public."PatientProfiles" USING btree ("UserId");


--
-- Name: IX_Prescriptions_AppointmentId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Prescriptions_AppointmentId" ON public."Prescriptions" USING btree ("AppointmentId");


--
-- Name: IX_Prescriptions_DocumentHash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Prescriptions_DocumentHash" ON public."Prescriptions" USING btree ("DocumentHash");


--
-- Name: IX_Prescriptions_PatientId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Prescriptions_PatientId" ON public."Prescriptions" USING btree ("PatientId");


--
-- Name: IX_Prescriptions_ProfessionalId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Prescriptions_ProfessionalId" ON public."Prescriptions" USING btree ("ProfessionalId");


--
-- Name: IX_ProfessionalCouncils_Acronym; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_ProfessionalCouncils_Acronym" ON public."ProfessionalCouncils" USING btree ("Acronym");


--
-- Name: IX_ProfessionalProfiles_CboOccupationId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ProfessionalProfiles_CboOccupationId" ON public."ProfessionalProfiles" USING btree ("CboOccupationId");


--
-- Name: IX_ProfessionalProfiles_CouncilId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ProfessionalProfiles_CouncilId" ON public."ProfessionalProfiles" USING btree ("CouncilId");


--
-- Name: IX_ProfessionalProfiles_CouncilRegistration; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ProfessionalProfiles_CouncilRegistration" ON public."ProfessionalProfiles" USING btree ("CouncilRegistration");


--
-- Name: IX_ProfessionalProfiles_Crm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ProfessionalProfiles_Crm" ON public."ProfessionalProfiles" USING btree ("Crm");


--
-- Name: IX_ProfessionalProfiles_SpecialtyId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ProfessionalProfiles_SpecialtyId" ON public."ProfessionalProfiles" USING btree ("SpecialtyId");


--
-- Name: IX_ProfessionalProfiles_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_ProfessionalProfiles_UserId" ON public."ProfessionalProfiles" USING btree ("UserId");


--
-- Name: IX_ScheduleBlocks_ApprovedBy; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ScheduleBlocks_ApprovedBy" ON public."ScheduleBlocks" USING btree ("ApprovedBy");


--
-- Name: IX_ScheduleBlocks_ProfessionalId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ScheduleBlocks_ProfessionalId" ON public."ScheduleBlocks" USING btree ("ProfessionalId");


--
-- Name: IX_Schedules_ProfessionalId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Schedules_ProfessionalId" ON public."Schedules" USING btree ("ProfessionalId");


--
-- Name: IX_SigtapProcedures_Code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_SigtapProcedures_Code" ON public."SigtapProcedures" USING btree ("Code");


--
-- Name: IX_Users_Cpf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Users_Cpf" ON public."Users" USING btree ("Cpf");


--
-- Name: IX_Users_Email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Users_Email" ON public."Users" USING btree ("Email");


--
-- Name: IX_Users_Phone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Users_Phone" ON public."Users" USING btree ("Phone");


--
-- Name: IX_WaitingLists_AppointmentId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WaitingLists_AppointmentId" ON public."WaitingLists" USING btree ("AppointmentId");


--
-- Name: IX_WaitingLists_IsSpontaneousDemand; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WaitingLists_IsSpontaneousDemand" ON public."WaitingLists" USING btree ("IsSpontaneousDemand");


--
-- Name: IX_WaitingLists_PatientId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WaitingLists_PatientId" ON public."WaitingLists" USING btree ("PatientId");


--
-- Name: IX_WaitingLists_ProfessionalId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WaitingLists_ProfessionalId" ON public."WaitingLists" USING btree ("ProfessionalId");


--
-- Name: IX_WaitingLists_Status_Position; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WaitingLists_Status_Position" ON public."WaitingLists" USING btree ("Status", "Position");


--
-- Name: Appointments FK_Appointments_Specialties_SpecialtyId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Appointments"
    ADD CONSTRAINT "FK_Appointments_Specialties_SpecialtyId" FOREIGN KEY ("SpecialtyId") REFERENCES public."Specialties"("Id") ON DELETE RESTRICT;


--
-- Name: Appointments FK_Appointments_Users_AssistantId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Appointments"
    ADD CONSTRAINT "FK_Appointments_Users_AssistantId" FOREIGN KEY ("AssistantId") REFERENCES public."Users"("Id") ON DELETE SET NULL;


--
-- Name: Appointments FK_Appointments_Users_PatientId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Appointments"
    ADD CONSTRAINT "FK_Appointments_Users_PatientId" FOREIGN KEY ("PatientId") REFERENCES public."Users"("Id") ON DELETE RESTRICT;


--
-- Name: Appointments FK_Appointments_Users_ProfessionalId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Appointments"
    ADD CONSTRAINT "FK_Appointments_Users_ProfessionalId" FOREIGN KEY ("ProfessionalId") REFERENCES public."Users"("Id") ON DELETE RESTRICT;


--
-- Name: Attachments FK_Attachments_Appointments_AppointmentId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attachments"
    ADD CONSTRAINT "FK_Attachments_Appointments_AppointmentId" FOREIGN KEY ("AppointmentId") REFERENCES public."Appointments"("Id") ON DELETE CASCADE;


--
-- Name: AuditLogs FK_AuditLogs_Users_PatientId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLogs"
    ADD CONSTRAINT "FK_AuditLogs_Users_PatientId" FOREIGN KEY ("PatientId") REFERENCES public."Users"("Id") ON DELETE SET NULL;


--
-- Name: AuditLogs FK_AuditLogs_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLogs"
    ADD CONSTRAINT "FK_AuditLogs_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE SET NULL;


--
-- Name: DigitalCertificates FK_DigitalCertificates_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DigitalCertificates"
    ADD CONSTRAINT "FK_DigitalCertificates_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: ExamRequests FK_ExamRequests_Appointments_AppointmentId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamRequests"
    ADD CONSTRAINT "FK_ExamRequests_Appointments_AppointmentId" FOREIGN KEY ("AppointmentId") REFERENCES public."Appointments"("Id") ON DELETE CASCADE;


--
-- Name: ExamRequests FK_ExamRequests_Users_PatientId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamRequests"
    ADD CONSTRAINT "FK_ExamRequests_Users_PatientId" FOREIGN KEY ("PatientId") REFERENCES public."Users"("Id") ON DELETE RESTRICT;


--
-- Name: ExamRequests FK_ExamRequests_Users_ProfessionalId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamRequests"
    ADD CONSTRAINT "FK_ExamRequests_Users_ProfessionalId" FOREIGN KEY ("ProfessionalId") REFERENCES public."Users"("Id") ON DELETE RESTRICT;


--
-- Name: Invites FK_Invites_Users_CreatedBy; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Invites"
    ADD CONSTRAINT "FK_Invites_Users_CreatedBy" FOREIGN KEY ("CreatedBy") REFERENCES public."Users"("Id") ON DELETE RESTRICT;


--
-- Name: MedicalCertificates FK_MedicalCertificates_Appointments_AppointmentId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MedicalCertificates"
    ADD CONSTRAINT "FK_MedicalCertificates_Appointments_AppointmentId" FOREIGN KEY ("AppointmentId") REFERENCES public."Appointments"("Id") ON DELETE CASCADE;


--
-- Name: MedicalCertificates FK_MedicalCertificates_Users_PatientId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MedicalCertificates"
    ADD CONSTRAINT "FK_MedicalCertificates_Users_PatientId" FOREIGN KEY ("PatientId") REFERENCES public."Users"("Id") ON DELETE RESTRICT;


--
-- Name: MedicalCertificates FK_MedicalCertificates_Users_ProfessionalId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MedicalCertificates"
    ADD CONSTRAINT "FK_MedicalCertificates_Users_ProfessionalId" FOREIGN KEY ("ProfessionalId") REFERENCES public."Users"("Id") ON DELETE RESTRICT;


--
-- Name: MedicalReports FK_MedicalReports_Appointments_AppointmentId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MedicalReports"
    ADD CONSTRAINT "FK_MedicalReports_Appointments_AppointmentId" FOREIGN KEY ("AppointmentId") REFERENCES public."Appointments"("Id") ON DELETE CASCADE;


--
-- Name: MedicalReports FK_MedicalReports_Users_PatientId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MedicalReports"
    ADD CONSTRAINT "FK_MedicalReports_Users_PatientId" FOREIGN KEY ("PatientId") REFERENCES public."Users"("Id") ON DELETE RESTRICT;


--
-- Name: MedicalReports FK_MedicalReports_Users_ProfessionalId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MedicalReports"
    ADD CONSTRAINT "FK_MedicalReports_Users_ProfessionalId" FOREIGN KEY ("ProfessionalId") REFERENCES public."Users"("Id") ON DELETE RESTRICT;


--
-- Name: Notifications FK_Notifications_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notifications"
    ADD CONSTRAINT "FK_Notifications_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: PatientProfiles FK_PatientProfiles_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PatientProfiles"
    ADD CONSTRAINT "FK_PatientProfiles_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: Prescriptions FK_Prescriptions_Appointments_AppointmentId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Prescriptions"
    ADD CONSTRAINT "FK_Prescriptions_Appointments_AppointmentId" FOREIGN KEY ("AppointmentId") REFERENCES public."Appointments"("Id") ON DELETE CASCADE;


--
-- Name: Prescriptions FK_Prescriptions_Users_PatientId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Prescriptions"
    ADD CONSTRAINT "FK_Prescriptions_Users_PatientId" FOREIGN KEY ("PatientId") REFERENCES public."Users"("Id") ON DELETE RESTRICT;


--
-- Name: Prescriptions FK_Prescriptions_Users_ProfessionalId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Prescriptions"
    ADD CONSTRAINT "FK_Prescriptions_Users_ProfessionalId" FOREIGN KEY ("ProfessionalId") REFERENCES public."Users"("Id") ON DELETE RESTRICT;


--
-- Name: ProfessionalProfiles FK_ProfessionalProfiles_CboOccupations_CboOccupationId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProfessionalProfiles"
    ADD CONSTRAINT "FK_ProfessionalProfiles_CboOccupations_CboOccupationId" FOREIGN KEY ("CboOccupationId") REFERENCES public."CboOccupations"("Id") ON DELETE SET NULL;


--
-- Name: ProfessionalProfiles FK_ProfessionalProfiles_ProfessionalCouncils_CouncilId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProfessionalProfiles"
    ADD CONSTRAINT "FK_ProfessionalProfiles_ProfessionalCouncils_CouncilId" FOREIGN KEY ("CouncilId") REFERENCES public."ProfessionalCouncils"("Id") ON DELETE SET NULL;


--
-- Name: ProfessionalProfiles FK_ProfessionalProfiles_Specialties_SpecialtyId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProfessionalProfiles"
    ADD CONSTRAINT "FK_ProfessionalProfiles_Specialties_SpecialtyId" FOREIGN KEY ("SpecialtyId") REFERENCES public."Specialties"("Id") ON DELETE SET NULL;


--
-- Name: ProfessionalProfiles FK_ProfessionalProfiles_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProfessionalProfiles"
    ADD CONSTRAINT "FK_ProfessionalProfiles_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: ScheduleBlocks FK_ScheduleBlocks_Users_ApprovedBy; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ScheduleBlocks"
    ADD CONSTRAINT "FK_ScheduleBlocks_Users_ApprovedBy" FOREIGN KEY ("ApprovedBy") REFERENCES public."Users"("Id") ON DELETE SET NULL;


--
-- Name: ScheduleBlocks FK_ScheduleBlocks_Users_ProfessionalId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ScheduleBlocks"
    ADD CONSTRAINT "FK_ScheduleBlocks_Users_ProfessionalId" FOREIGN KEY ("ProfessionalId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: Schedules FK_Schedules_Users_ProfessionalId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Schedules"
    ADD CONSTRAINT "FK_Schedules_Users_ProfessionalId" FOREIGN KEY ("ProfessionalId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: WaitingLists FK_WaitingLists_Appointments_AppointmentId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WaitingLists"
    ADD CONSTRAINT "FK_WaitingLists_Appointments_AppointmentId" FOREIGN KEY ("AppointmentId") REFERENCES public."Appointments"("Id") ON DELETE CASCADE;


--
-- Name: WaitingLists FK_WaitingLists_Users_PatientId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WaitingLists"
    ADD CONSTRAINT "FK_WaitingLists_Users_PatientId" FOREIGN KEY ("PatientId") REFERENCES public."Users"("Id") ON DELETE RESTRICT;


--
-- Name: WaitingLists FK_WaitingLists_Users_ProfessionalId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WaitingLists"
    ADD CONSTRAINT "FK_WaitingLists_Users_ProfessionalId" FOREIGN KEY ("ProfessionalId") REFERENCES public."Users"("Id") ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict Lg7Je6UkeSgM77MlGw9nJD7B7kv9hV8AkDywtpBr6OzMJDk9RxiYmUFV0K7nccC

